EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY= 
此處請到 clerkDashboard/Developers/API keys/Quick Copy

CONVEX_DEPLOYMENT=

EXPO_PUBLIC_CONVEX_URL=
終端機輸入 `npx convex dev` 開啟 convex 伺服器
下方部分可以為convex環境變數 可以透過 / 專案/project settings / Lost Access 粘貼並輸入至終端機

